@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Poppins', 'Inter', ui-sans-serif, system-ui, sans-serif;
  --color-primary: oklch(0.62 0.0867 143.3);
  --color-secondary: oklch(0.86 0.06 70);
  --color-background: oklch(0.95 0.02 125);
  --color-foreground: oklch(0.35 0.02 270);

  --shadow-solid: --spacing(1) --spacing(1);
  --shadow-solid-sm: --spacing(0.5) --spacing(0.5);
}

@layer components {

  /* Override focus ring for focusable elements */
  .focusable {
    &:focus-visible {
      @apply outline-hidden ring-2 ring-black ring-offset-2;
    }
  }

  .recessed {
    @apply inset-ring-background inset-shadow-background inset-shadow-xs inset-ring-2;
  }

  .link-button {
    @apply bg-secondary z-20 dark:bg-primary flex items-center space-x-2 rounded-lg p-4 transition-colors duration-500 shadow-solid shadow-foreground;

    &.animate {
      @apply hover:translate-x-1 hover:translate-y-1 hover:shadow-none;
    }
  }

  .link-button svg {
    @apply h-8 w-8 flex-shrink-0;
  }

  .link-button p {
    @apply text-2xl font-bold;
  }

  .text-glow {
    @apply text-shadow-foreground text-shadow-md;
  }
}
